
/* escritorio grande*/
	@media(min-width: 1200px){
		/*+body{color: red;}*/
	}
	/* escritorio pequeño tablet*/
	@media(min-width: 768px )and (max-width: 979px){
		body{color: green;}
	}
	/* escritorio tablet smartphone*/
	@media(max-width: 768px){
		body{color: blue;}
	}
	/* escritorio smartpone*/
	@media(max-width: 480px){
		body{color: yellow;}
	}
	.text-big{
		font-size: 300px;
		line-height: 320px;
	}
	#cabeza {
		height: 5%;
	}
	#espacio_inicial {
		height: 6%;
	}
	#espacio{
		height: 6%;
	}
	#img-container{
			background: white;
			width: 300px;
			border-radius: 30px 30px 30px 30px;
	}

	#footer-container{
			background: #051244;
	}
